html,
body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
}

.home-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35vh;
}


.form-signin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;

    font-size: 16px;
}

.form-control--address {
    display: block;
    resize: none;
}

.form-signin .form-control:focus {
    z-index: 2;
}
